.banner {
    &_wrapper {
        padding-top: 100px;
    }
    &_card {
        height: 216px;
        overflow: hidden;
        cursor: pointer;
        border-radius: 5px;
        & img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            transition: transform 500ms ease;
        }
        &:hover img {
            transform: scale(1.1);
        }
    }
}