// Background color
$cl-primary: #e81922;
$cl-secondary: #333;
$bg-white:#fff;
$bg-black: #111;
$bg-gray: #e5e5e5;
$bg-dark: #1c1819;
$bg-shadow: rgba(0, 0, 0, .5);
// Text color
$txt-primary:#e81922;
$txt-white:#fff;
$txt-dark:#111;
// Font
$font-primary: 'Ubuntu',
sans-serif;
$font-secondary: 'Open Sans',
sans-serif;